Source: chip-mali
Section: main/kernel
Priority: optional
Maintainer: Alex Kaplan <kaplan2539@gmail.com>
Build-Depends: debhelper (>= 5), bzip2
Standards-Version: 3.9.6

Package: chip-mali-source
Architecture: all
Depends: module-assistant, debhelper (>= 5), make, bzip2
Description: Mali 400 MP GPU driver for C.H.I.P.
 This driver provides hardware accelerated 3d rendering capabilities
 to the C.H.I.P. computer.
